body {
    background-color: indianred;
    font-family: fantasy;
}

.small_pizza {
    background-color: mediumvioletred;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto;
    font-style: italic;
    flex: 1;
}

.medium_pizza {
    background-color: blueviolet;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto;
    font-style: italic;
    flex: 1;
    
}
    
.large_pizza {
    background-color: brown;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto; 
    font-style: italic;
    flex: 1;
}

.footer {
    /*display: flex;*/
    background-color: indigo;
    border: 1px solid black;
    margin: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    /* position: absolute; */
    width: auto;
    height: 121.11px;
    width: auto;
    font-style: italic;
    flex: 1;
}
@media (min-width: 980px){
    .pizzas{
        display: flex;
    }
    table, th, td {
        border: 1px solid black;
        }
    body {
        background-color: brown ;
    }
}
 @media (min-width: 500px){
     body { 
    background-color: peachpuff;
 }
}

.header {
padding: 1em;
margin-bottom: 1em;
background-color: blueviolet;
margin: 1em;
border-radius: 1em;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: center;
    vertical-align: bottom;
    /* height: 50px; */
}

th,
td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc;

}

.f1 {
    flex: 1
}

.f3 {
    flex: 3;
}

/*h1 {
    padding: 1em;
    border-radius: 0.25em;
}

h3 {
    padding: 1em;
    border-radius: 0.25em;
}

h2 {
    background-color: lightcoral;
    padding: 1em;
    /* background-color: lightcoral; */
    /* padding: 1em; 
}*/

span {
    border: 1px solid;
    background-color: yellowgreen;
    padding: 1em;
    margin: 1em;
}

.input {
    margin : 1em;
}

.link {
    background-color: lightcoral;
    width: 15em;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.link:hover {
background-color: yellowgreen;
}

.cart-box {
    display: flex;
    justify-content: flex-end;
}

/*.cart-link {
    link: none;
}*/

.hidden {
    display: none;
}


table {
    background-color:lightskyblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 100%;
}

table, th, td {

    border: 1px solid black;
  }

td {
    text-align: center;
    vertical-align: bottom;
    /* height: 50px; */
}

th,
td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc;

}

.f1 {
    flex: 1
}

.f3 {
    flex: 3;
}

.message {
    padding: 1em;
    /* color: grey; */
    font-weight: bold;
    background-color: yellowgreen;
}

.input {
    padding: 1em;
}

.btn {
    padding: 1em 0em 1em 0em;
    width: 5em;
    background-color: yellowgreen;
    color: grey;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 0.25em;
}
.box {
    border: 1em solid lightpink;
    width: 10%;
    padding: 2em 1em 2em 0em;
}

.box1 {
    border: 1px solid lightseagreen;
    width: 10%;
    padding: 2em 1em 2em 0em;
}

.buy {
    width: 7em;
    margin-bottom: 1em;

    /* padding: 1em 0em 1em 0em;
    border-radius: 0.25em;
    background-color: gold;
    color: grey;
    font-weight: bold;
    border: 0;
    cursor: pointer; */
}
